@import '../../styles.scss';

.mat-card-header-text{
  margin: 0px;
}
.os-card {
  width: fit-content;
  height: fit-content;
  padding-bottom: 24px;
  padding-top: 24px;
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.os-card2 {
  width: fit-content;
  height: fit-content;
  padding-bottom: 32px;
  padding-top: 32px;
  padding-left: 32px !important;
  padding-right: 32px !important;
  
}
.os-card3 {
  width: fit-content;
  height: fit-content;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 16px !important;
  padding-right: 16px !important;

}
.os-card4 {
  width: fit-content;
  height: fit-content;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 40px !important;
  padding-right: 40px !important;

}
.os-card5 {
  width: fit-content;
  height: fit-content;
  padding-bottom: 60px;
  padding-top: 60px;
  padding-left: 60px !important;
  padding-right: 60px !important;

}
.mat-card{
  overflow: hidden;
  width: 100%;
  padding-left: 0% ;
  padding-right: 0% ;
  border-radius: 12px;
  border: 1px solid var(--pale-grey);
  background: var(--white-color);
}


.mat-card:not([class*=mat-elevation-z]){
  box-shadow: none;
  min-width: 1080px;
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, #0033AA 50%, #0A2240 100%);
  // background-image: linear-gradient(90deg, red 50%, blue 50%);
  // background-image: linear-gradient(90deg, red 50%, blue 50%);
}